
h1 {
  color: black;
  font-weight: bold;
}
h2 {
  font-style: normal;
}
.derrick {
  text-align: center;
}
.newstuff{
  text-align: left;
}
.text-left {
  text-align: left;
}

.my-projects {
  text-align: left;

}
ol  {
  font-style: normal;
  line-height: inherit;

}
body {
  background-color: teal;
  margin:100px;
}

p{
font-family: sans-serif;
text-indent: inherit;
font-size: 20px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
