
h1 {
  color: black;
  font-weight: bold;
}
h2 {
  font-style: normal;
}
.derrick {
  text-align: center;
}
.newstuff{
  text-align:center;
}
.text-left {
  text-align: left;
}




li  {
  font-family: Arial, Helvetica ,serif ;
  line-height: inherit;

}
body {
  background-image: url(../images/board.jpg);
  margin: 100px 150px;
  color: black;
  font-size: 220%;

}

p{
font-family: cursive, sans-serif;
text-indent: inherit;
font-size: 20px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
