h1 {
  color: black;
  font-weight: bold;
  font-size: 50px;
}

h2 {
  font-style: normal;
}

.picture {
  height: 200px;
  width: 50%;
}

img {
  width: 200px;
  float: right;
  transform: rotate(90.0deg);
  margin-left: -100px;
  border-radius: 50%;
}

body {
  background-image: url(../images/green.jpg);
  margin: 100px 150px;
  color: white;
  font-size: 220%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-left {
  text-align: left;
}

.container {
  font-weight: bold;
}

li {
  font-family: Arial, Helvetica, serif;
  line-height: inherit;
}

.ullist {
  align-items: center;
  font-weight: normal;
}

p {
  font-family: cursive, sans-serif;
  text-indent: inherit;
  font-size: 30px;
  line-height: 30px;
}
